body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  background: url(../imgs/quran-bg.png) center center/cover no-repeat;
  height: 100vh;
  width: 100%;
  z-index: -10;
  opacity: 0.5;
}

/* start surahs */
.surahs {
  margin-top: 120px;
}

.surahs .surahs-head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: "Cairo", sans-serif;
}

.surahs .surahs-head h1 {
  font-weight: 700;
}

.surahs .surahs-head h3,
.surahs .surahs-head h1,
.surahs .surahs-head audio {
  margin: 10px;
}

.surahs .surah {
  font-family: "Cairo", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 15px;
  background-image: linear-gradient(to right, black, #393939);
  padding: 20px 46px;
  color: white;
  border-radius: 10px;
  width: 222px;
  transition: 0.3s all ease-in-out 0.1s;
  -webkit-transition: 0.3s all ease-in-out 0.1s;
  -moz-transition: 0.3s all ease-in-out 0.1s;
  -ms-transition: 0.3s all ease-in-out 0.1s;
  -o-transition: 0.3s all ease-in-out 0.1s;
  overflow: hidden;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: pointer;
}

.surahs .surah.active {
  background-image: linear-gradient(to right, #1f9725, var(--main-green));
}

.surahs .surah::before {
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #1f9725, var(--main-green));
  z-index: -1;
  width: 0;
  transition: 0.2s all ease-in-out 0.1s;
  -webkit-transition: 0.2s all ease-in-out 0.1s;
  -moz-transition: 0.2s all ease-in-out 0.1s;
  -ms-transition: 0.2s all ease-in-out 0.1s;
  -o-transition: 0.2s all ease-in-out 0.1s;
}

@media (max-width: 991px) {
  .surahs .surah::before {
    transition: 0.2s all ease-in-out;
    -webkit-transition: 0.2s all ease-in-out;
    -moz-transition: 0.2s all ease-in-out;
    -ms-transition: 0.2s all ease-in-out;
    -o-transition: 0.2s all ease-in-out;
  }
}

.surahs .surah:hover::before {
  width: 100% !important;
}

.surahs .surah:hover {
  transform: scale(1.07) !important;
  -webkit-transform: scale(1.07) !important;
  -moz-transform: scale(1.07) !important;
  -ms-transform: scale(1.07) !important;
  -o-transform: scale(1.07) !important;
}

.surahs .surah p {
  margin: 5px;
}

.surahs .player {
  position: sticky;
  bottom: 0;
  padding: 10px;
  background-image: linear-gradient(to right, #1f9725, var(--main-green));
  color: white;
  font-family: "Cairo", sans-serif;
  width: 100%;
}

.surahs .player .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.surahs .player .container audio {
  width: 60%;
}

.surahs .player .container audio::-webkit-media-controls-panel {
  background: white;
  position: relative;
}

.surahs .player .container audio::-webkit-media-controls-play-button {
  color: #1f9725;
  position: relative;
}

.surahs .player .container audio::-webkit-media-controls::after {
  content: "\f04b";
  font-family: "Font Awesome 5 Free";
  color: white;
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 768px) {
  .surahs .player .container {
    justify-content: center;
  }
  .surahs .player .container audio {
    width: 100%;
  }
}

.surahs .player .title {
  text-align: center;
  margin-bottom: 10px;
}

.surah .player h4 {
  margin: 15px;
  font-weight: 700;
}
