body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  background: url(../imgs/quran-bg.png) center center/cover no-repeat;
  height: 100vh;
  width: 100%;
  z-index: -10;
  opacity: 0.5;
}

/* start surahs */
.surahs {
  margin-top: 120px;
}

.surahs .surahs-head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Cairo", sans-serif;
}

.surahs .surahs-head h1 {
  font-weight: 700;
}

.surahs .surahs-head h3,
.surahs .surahs-head h1,
.surahs .surahs-head audio {
  margin: 10px;
}

.surahs audio {
  width: 60%;
}

.surahs .surah {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 15px;
  background-image: linear-gradient(to right, black, #393939);
  padding: 20px 46px;
  color: white;
  border-radius: 10px;
  width: 222px;
  transition: 0.3s all ease-in-out 0.1s;
  -webkit-transition: 0.3s all ease-in-out 0.1s;
  -moz-transition: 0.3s all ease-in-out 0.1s;
  -ms-transition: 0.3s all ease-in-out 0.1s;
  -o-transition: 0.3s all ease-in-out 0.1s;
  overflow: hidden;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: pointer;
}

.surahs .surah::before {
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #1f9725, var(--main-green));
  z-index: -1;
  width: 0;
  transition: 0.2s all ease-in-out 0.1s;
  -webkit-transition: 0.2s all ease-in-out 0.1s;
  -moz-transition: 0.2s all ease-in-out 0.1s;
  -ms-transition: 0.2s all ease-in-out 0.1s;
  -o-transition: 0.2s all ease-in-out 0.1s;
}

@media (max-width: 991px) {
  .surahs .surah::before {
    transition: 0.2s all ease-in-out;
    -webkit-transition: 0.2s all ease-in-out;
    -moz-transition: 0.2s all ease-in-out;
    -ms-transition: 0.2s all ease-in-out;
    -o-transition: 0.2s all ease-in-out;
  }
}

.surahs .surah:hover::before {
  width: 100% !important;
}

.surahs .surah:hover {
  transform: scale(1.1) !important;
  -webkit-transform: scale(1.1) !important;
  -moz-transform: scale(1.1) !important;
  -ms-transform: scale(1.1) !important;
  -o-transform: scale(1.1) !important;
}

.surahs .surah p {
  margin: 5px;
}
